In [2]:
# https://investpy.readthedocs.io/_info/introduction.html
#Import Libraries
import investpy
from datetime import datetime

# get_stock_historical_data

In [3]:

# Define a start date and End Date  dd/mm/YYYY
start = '01/01/2021'#setting today date as End Date
end = datetime.today().strftime('%d/%m/%Y')

## Read Stock Price Data (Eg Apple Stock Price)
apple_stock_price = investpy.get_stock_historical_data(stock='AAPL',country='United States',from_date=start,to_date=end)

apple_stock_price

              Open    High     Low   Close     Volume Currency
Date
2021-01-04  133.52  133.61  126.76  129.41  143302000      USD
2021-01-05  128.89  131.74  128.43  131.01   97665000      USD
2021-01-06  127.72  131.05  126.38  126.60  155088000      USD
2021-01-07  128.36  131.63  127.86  130.92  109578000      USD
2021-01-08  132.43  132.63  130.23  132.05  105158000      USD
...            ...     ...     ...     ...        ...      ...
2022-02-14  167.37  169.58  166.56  168.88   85988000      USD
2022-02-15  170.97  172.95  170.25  172.79   62468000      USD
2022-02-16  171.85  173.34  170.05  172.55   58824000      USD
2022-02-17  171.03  171.91  168.47  168.88   69249000      USD
2022-02-18  169.82  170.54  166.19  167.30   82773000      USD

[286 rows x 6 columns]

# get_stocks_overview

In [4]:
investpy.get_stocks_overview(country="United States",
                        as_json=False,
                        n_results=1000)

,country,name,symbol,last,high,low,change,change_percentage,turnover,currency
0,united states,Boeing,BA,209.03,214.73,208.60,-4.55,-2.13%,6920000,USD
1,united states,General Motors,GM,48.60,49.21,47.92,-0.22,-0.45%,16020000,USD
2,united states,Chevron,CVX,133.42,133.91,132.05,-0.19,-0.14%,10590000,USD
3,united states,Citigroup,C,64.14,64.97,63.70,-0.57,-0.88%,17900000,USD
4,united states,Bank of America,BAC,45.96,46.53,45.72,-0.11,-0.24%,37680000,USD
...,...,...,...,...,...,...,...,...,...,...
995,united states,Fonar,FONR,17.11,17.50,17.05,-0.32,-1.84%,46710,USD
996,united states,Forward Industries,FORD,1.71,1.74,1.65,+0.010,+0.59%,27610,USD
997,united states,FormFactor,FORM,42.02,43.07,41.92,-0.73,-1.71%,283590,USD
998,united states,Forrester,FORR,52.79,53.40,52.00,+0.10,+0.19%,59360,USD
999,united states,Formula Systems ADR,FORTY,111.25,113.49,110.21,+1.17,+1.06%,1710,USD

# get_stock_company_profile

In [5]:
# select ticker
TICKER = "AAPL"

# get company's profile
investpy.get_stock_company_profile(stock=TICKER, country="United States")

{'url': 'https://www.investing.com/equities/apple-computer-inc-company-profile',
 'desc': 'Apple Inc. designs, manufactures and markets smartphones, personal computers, tablets, wearables and accessories, and sells a variety of related services. The Companyâ€™s products include iPhone, Mac, iPad, and Wearables, Home and Accessories. iPhone is the Companyâ€™s line of smartphones based on its iOS operating system. Mac is the Companyâ€™s line of personal computers based on its macOS operating system. iPad is the Companyâ€™s line of multi-purpose tablets based on its iPadOS operating system. Wearables, Home and Accessories includes AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch and other Apple-branded and third-party accessories. AirPods are the Companyâ€™s wireless headphones that interact with Siri. Apple Watch is the Companyâ€™s line of smart watches. Its services include Advertising, AppleCare, Cloud Services, Digital Content and Payment Services. Its customers are primarily in the consumer, small and mid-sized business, education, enterprise and government markets.'}

# get_stock_financial_summary

In [6]:
investpy.get_stock_financial_summary(stock=TICKER,
                                country="United States",
                                summary_type="income_statement",
                                period="quarterly")

            Total Revenue  Gross Profit  Operating Income  Net Income
Date
2021-12-25       123945.0       54243.0           41488.0     34630.0
2021-09-25        83360.0       35174.0           23786.0     20551.0
2021-06-26        81434.0       35255.0           24126.0     21744.0
2021-03-27        89584.0       38079.0           27503.0     23630.0

# get_stock_information

In [7]:
investpy.get_stock_information(stock=TICKER,
                          country="United States",
                          as_json=False).transpose()

                                  0
Stock Symbol                   AAPL
Prev. Close                  168.88
Todays Range          166.19-170.54
Revenue              378320000000.0
Open                         169.82
52 wk Range           116.21-182.94
EPS                            6.02
Volume                   81011252.0
Market Cap          2730000000000.0
Dividend (Yield)        0.88(0.51%)
Average Vol. (3m)        99601488.0
P/E Ratio                     27.78
Beta                           1.18
1-Year Change                28.82%
Shares Outstanding    16319441000.0
Next Earnings Date       03/05/2022

# search_quotes

In [9]:
aapl = investpy.search_quotes(text="apple",
                         products=["stocks"],
                         countries=["united states"],
                         n_results=1)
print(aapl)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}

# retrieve_historical_data

In [10]:
historical_data = aapl.retrieve_historical_data(from_date="01/01/2020",
                                                to_date="01/01/2021")
historical_data

              Open    High     Low   Close     Volume  Change Pct
Date
2020-01-02   74.06   75.15   73.80   75.09  135647008        2.28
2020-01-03   74.29   75.14   74.13   74.36  146536000       -0.97
2020-01-06   73.45   74.99   73.19   74.95  118579000        0.80
2020-01-07   74.96   75.22   74.37   74.60  111511000       -0.47
2020-01-08   74.29   76.11   74.29   75.80  132364000        1.61
...            ...     ...     ...     ...        ...         ...
2020-12-24  131.32  133.46  131.10  131.97   54930000        0.77
2020-12-28  133.99  137.34  133.51  136.69  124486000        3.58
2020-12-29  138.05  138.79  134.34  134.87  121047000       -1.33
2020-12-30  135.58  135.99  133.40  133.72   96452000       -0.85
2020-12-31  134.08  134.74  131.72  132.69   99117000       -0.77

[253 rows x 6 columns]

# retrieve_technical_indicators

In [11]:
aapl.retrieve_technical_indicators(interval="daily")

c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(
c:\users\syncrase\pycharmprojects\pythonproject\venv\lib\site-packages\investpy\utils\search_obj.py:386: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.technical_indicators = self.technical_indicators.append(

              indicator     value           signal
0               RSI(14)   44.1170             sell
1            STOCH(9,6)   34.3080             sell
2          STOCHRSI(14)    0.0000         oversold
3           MACD(12,26)   -0.9400             sell
4               ADX(14)   18.9080          neutral
5           Williams %R  -92.0420         oversold
6               CCI(14) -163.8465             sell
7               ATR(14)    3.5647  less_volatility
8        Highs/Lows(14)   -3.4400             sell
9   Ultimate Oscillator   43.0660             sell
10                  ROC   -4.4230             sell
11  Bull/Bear Power(13)   -3.5540             sell

# get_bond_historical_data

In [12]:
investpy.get_bond_historical_data(bond="Netherlands 10Y",
                             from_date="01/01/2020",
                             to_date="01/12/2020")

             Open   High    Low  Close
Date
2020-01-02 -0.041 -0.031 -0.110 -0.095
2020-01-03 -0.139 -0.132 -0.172 -0.156
2020-01-06 -0.168 -0.151 -0.181 -0.155
2020-01-07 -0.152 -0.141 -0.168 -0.154
2020-01-08 -0.167 -0.119 -0.170 -0.122
...           ...    ...    ...    ...
2020-11-25 -0.477 -0.465 -0.498 -0.484
2020-11-26 -0.479 -0.472 -0.506 -0.501
2020-11-27 -0.500 -0.491 -0.511 -0.502
2020-11-30 -0.501 -0.480 -0.516 -0.482
2020-12-01 -0.492 -0.434 -0.498 -0.438

[248 rows x 4 columns]

# economic_calendar

In [13]:
investpy.economic_calendar()

,id,date,time,zone,currency,importance,event,actual,forecast,previous
0,445337,20/02/2022,22:45,new zealand,NZD,low,Exports (Jan),None,None,6.07B
1,445336,20/02/2022,22:45,new zealand,NZD,low,Imports (Jan),None,None,6.55B
2,445335,20/02/2022,22:45,new zealand,NZD,medium,Trade Balance (YoY) (Jan),None,None,"-6,780M"
3,445334,20/02/2022,22:45,new zealand,NZD,medium,Trade Balance (MoM) (Jan),None,None,-477M
4,446316,20/02/2022,23:00,australia,AUD,low,Manufacturing PMI,None,None,55.3
5,446317,20/02/2022,23:00,australia,AUD,low,Services PMI,None,None,46.6

In [14]:
calendar_2020 = investpy.economic_calendar(from_date="01/01/2020",
                                      to_date="31/01/2020")
calendar_2020.query("importance == 'high'")

,id,date,time,zone,currency,importance,event,actual,forecast,previous
121,398314,02/01/2020,02:45,china,CNY,high,Caixin Manufacturing PMI (Dec),51.5,51.8,51.8
142,398331,02/01/2020,09:55,germany,EUR,high,German Manufacturing PMI (Dec),43.7,43.4,43.4
145,398336,02/01/2020,10:30,united kingdom,GBP,high,Manufacturing PMI (Dec),47.5,47.6,48.9
155,399117,02/01/2020,14:30,united states,USD,high,Initial Jobless Claims,222K,225K,224K
191,398422,03/01/2020,09:55,germany,EUR,high,German Unemployment Change (Dec),8K,2K,-16K
...,...,...,...,...,...,...,...,...,...,...
2643,399712,30/01/2020,14:30,united states,USD,high,GDP (QoQ) (Q4),2.1%,2.1%,2.1%
2646,400699,30/01/2020,14:30,united states,USD,high,Initial Jobless Claims,216K,215K,223K
2679,399818,31/01/2020,02:00,china,CNY,high,Manufacturing PMI (Jan),50.0,50.0,50.2
2739,399854,31/01/2020,11:00,euro zone,EUR,high,CPI (YoY) (Jan),1.4%,1.4%,1.3%
2949,399886,31/01/2020,14:30,canada,CAD,high,GDP (MoM) (Nov),0.1%,0.1%,-0.1%